{% extends 'fyke/index.html' %} {% block content %}
<table
  border="0"
  cellspacing="0"
  cellpadding="5"
  bgcolor="#FDFDFD"
  class="table-datacollection"
>
  <tbody>
    <tr>
      <td align="CENTER" bgcolor="#F0F0F0" valign="top">
        <table
          border="0"
          cellspacing="0"
          cellpadding="2"
          class="text"
          bgcolor="#FDFDFD"
        >
          <tbody>
            <tr>
              <th>Year:</th>
            </tr>
            <tr>
              <td>
                <table
                  border="0"
                  cellspacing="0"
                  cellpadding="2"
                  bgcolor="#FDFDFD"
                  class="year-selection-table"
                >
                  <tbody>
                    <tr>
                      <td>
                        <a href="#" class="">2010</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#" class="">2011</a>
                      </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td align="CENTER" bgcolor="#F0F0F0" valign="top">
        <table
          border="1"
          cellspacing="0"
          cellpadding="2"
          class="text"
          style="border: 1px solid; border-collapse: collapse"
          bgcolor="#FDFDFD"
        >
          <tbody>
            <tr>
              <th bgcolor="#F0F0F0" colspan="4" style="border: 0px">
                &nbsp;Datacollection&nbsp;
              </th>
              <td
                bgcolor="#F0F0F0"
                align="center"
                colspan="2"
                style="border: 0px"
              >
                &nbsp;<a
                  href="procfish.php?cmd=2010&amp;fnc=211&amp;frec=0&amp;fpage=0"
                  class="but11"
                  >&nbsp;New record&nbsp;</a
                >&nbsp;
              </td>
              <td
                bgcolor="#F0F0F0"
                align="left"
                colspan="2"
                style="border: 0px"
              ></td>
              <td
                bgcolor="#F0F0F0"
                align="right"
                colspan="2"
                style="border: 0px"
              ></td>
            </tr>
          </tbody>
        </table>
        <table
          border="1"
          cellspacing="0"
          cellpadding="2"
          class="text"
          style="border: 1px solid; border-collapse: collapse"
          bgcolor="#FDFDFD"
        >
          <tbody>
            <tr></tr>
            <tr>
              <th bgcolor="#E0E0E0">options</th>
              <th bgcolor="#E0E0E0">date</th>
              <th bgcolor="#E0E0E0">time</th>
              <th bgcolor="#E0E0E0">year</th>
              <th bgcolor="#E0E0E0">week</th>
              <th bgcolor="#E0E0E0">fishingday</th>
              <th bgcolor="#E0E0E0">fyke</th>
              <th bgcolor="#E0E0E0">duration</th>
              <th bgcolor="#E0E0E0">collect</th>
              <th bgcolor="#E0E0E0">remarks</th>
              <th bgcolor="#E0E0E0">observer</th>
              <th bgcolor="#E0E0E0">version</th>
            </tr>
            <tr>
              <td valign="top">
                &nbsp;<a
                  href="procfish.php?cmd=2040&amp;frec=15918&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;print&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2010&amp;fnc=213&amp;frec=15918&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;edit&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2020&amp;fnc=220&amp;frec=15918&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;biotic&nbsp;</a
                >&nbsp;
              </td>
              <td align="center" valign="top">2010-04-04</td>
              <td align="center" valign="top">10:30</td>
              <td align="center" valign="top">2010</td>
              <td align="center" valign="top">13</td>
              <td align="center" valign="top">40272</td>
              <td align="center" valign="top">Stuifdijk</td>
              <td align="center" valign="top">24</td>
              <td align="center" valign="top">3</td>
              <td align="left" valign="top">zeehond seals:1</td>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"></td>
            </tr>
            <tr>
              <td valign="top">
                &nbsp;<a
                  href="procfish.php?cmd=2040&amp;frec=15917&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;print&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2010&amp;fnc=213&amp;frec=15917&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;edit&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2020&amp;fnc=220&amp;frec=15917&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;biotic&nbsp;</a
                >&nbsp;
              </td>
              <td align="center" valign="top">2010-04-03</td>
              <td align="center" valign="top">10:30</td>
              <td align="center" valign="top">2010</td>
              <td align="center" valign="top">13</td>
              <td align="center" valign="top">40271</td>
              <td align="center" valign="top">Stuifdijk</td>
              <td align="center" valign="top">26</td>
              <td align="center" valign="top">3</td>
              <td align="left" valign="top">zeehond seals:1</td>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"></td>
            </tr>
            <tr>
              <td valign="top">
                &nbsp;<a
                  href="procfish.php?cmd=2040&amp;frec=15916&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;print&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2010&amp;fnc=213&amp;frec=15916&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;edit&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2020&amp;fnc=220&amp;frec=15916&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;biotic&nbsp;</a
                >&nbsp;
              </td>
              <td align="center" valign="top">2010-04-02</td>
              <td align="center" valign="top">09:00</td>
              <td align="center" valign="top">2010</td>
              <td align="center" valign="top">13</td>
              <td align="center" valign="top">40270</td>
              <td align="center" valign="top">Stuifdijk</td>
              <td align="center" valign="top">18</td>
              <td align="center" valign="top">3</td>
              <td align="left" valign="top">schut los damaged</td>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"></td>
            </tr>
            <tr>
              <td valign="top">
                &nbsp;<a
                  href="procfish.php?cmd=2040&amp;frec=15915&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;print&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2010&amp;fnc=213&amp;frec=15915&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;edit&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2020&amp;fnc=220&amp;frec=15915&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;biotic&nbsp;</a
                >&nbsp;
              </td>
              <td align="center" valign="top">2010-04-01</td>
              <td align="center" valign="top">15:00</td>
              <td align="center" valign="top">2010</td>
              <td align="center" valign="top">13</td>
              <td align="center" valign="top">40269</td>
              <td align="center" valign="top">Stuifdijk</td>
              <td align="center" valign="top">24</td>
              <td align="center" valign="top">3</td>
              <td align="left" valign="top">schut los damaged</td>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"></td>
            </tr>
            <tr>
              <td valign="top">
                &nbsp;<a
                  href="procfish.php?cmd=2040&amp;frec=15914&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;print&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2010&amp;fnc=213&amp;frec=15914&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;edit&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2020&amp;fnc=220&amp;frec=15914&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;biotic&nbsp;</a
                >&nbsp;
              </td>
              <td align="center" valign="top">2010-03-31</td>
              <td align="center" valign="top">15:29</td>
              <td align="center" valign="top">2010</td>
              <td align="center" valign="top">13</td>
              <td align="center" valign="top">40268</td>
              <td align="center" valign="top">Stuifdijk</td>
              <td align="center" valign="top">30</td>
              <td align="center" valign="top">3</td>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"></td>
            </tr>
            <tr>
              <td valign="top">
                &nbsp;<a
                  href="procfish.php?cmd=2040&amp;frec=15913&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;print&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2010&amp;fnc=213&amp;frec=15913&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;edit&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2020&amp;fnc=220&amp;frec=15913&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;biotic&nbsp;</a
                >&nbsp;
              </td>
              <td align="center" valign="top">2010-03-30</td>
              <td align="center" valign="top">09:00</td>
              <td align="center" valign="top">2010</td>
              <td align="center" valign="top">13</td>
              <td align="center" valign="top">40267</td>
              <td align="center" valign="top">Stuifdijk</td>
              <td align="center" valign="top">24</td>
              <td align="center" valign="top">3</td>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"></td>
            </tr>
            <tr>
              <td valign="top">
                &nbsp;<a
                  href="procfish.php?cmd=2040&amp;frec=15912&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;print&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2010&amp;fnc=213&amp;frec=15912&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;edit&nbsp;</a
                >&nbsp;&nbsp;<a
                  href="procfish.php?cmd=2020&amp;fnc=220&amp;frec=15912&amp;fykenr=1&amp;fpage=0"
                  class="but11"
                  >&nbsp;biotic&nbsp;</a
                >&nbsp;
              </td>
              <td align="center" valign="top">2010-03-29</td>
              <td align="center" valign="top">09:00</td>
              <td align="center" valign="top">2010</td>
              <td align="center" valign="top">13</td>
              <td align="center" valign="top">40266</td>
              <td align="center" valign="top">Stuifdijk</td>
              <td align="center" valign="top">22</td>
              <td align="center" valign="top">3</td>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"></td>
              <td align="left" valign="top"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
