{% extends 'maintenance/index.html' %}

{% block content %}
<div class="maintenance species_list">
    <table cellspacing="0" cellpadding="5" class="text">
        <tbody>
            <tr>
                <th>Species&nbsp;&nbsp;<a href="#" id="new-species-btn" class="but11">&nbsp;new&nbsp;</a></th>
            </tr>
            <tr>
                <td class="background">
                    <table border="1" cellspacing="0" cellpadding="2" class="text" id="table">
                        <thead>
                            <tr>
                                <th class="bok11">
                                    <a href="?sort=id" class="center">SpeciesID</a>
                                </th>
                                <th class="bok11">
                                    <a href="?sort=active&order={% if sort_field == 'active' and sort_order == 'asc' %}desc{% else %}asc{% endif %}" class="center">Active</a>
                                </th>
                                <th class="bok11">
                                    <a href="?sort=nl_name&order={% if sort_field == 'nl_name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}" class="center">NL name</a>
                                </th>
                                <th class="bok11">
                                    <a href="?sort=name&order={% if sort_field == 'name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}" class="center">EN name</a>
                                </th>
                                <th class="bok11">
                                    <a href="?sort=latin_name&order={% if sort_field == 'latin_name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}" class="center">LATIN name</a>
                                </th>
                                <th class="bok11">
                                    <a href="?sort=WoRMS&order={% if sort_field == 'WoRMS' and sort_order == 'asc' %}desc{% else %}asc{% endif %}" class="center">WoRMS</a>
                                </th>
                                <th class="bok11">
                                    <a href="?sort=pauly_trophic_level&order={% if sort_field == 'pauly_trophic_level' and sort_order == 'asc' %}desc{% else %}asc{% endif %}" class="center">PaulyTrophicLevel</a>
                                </th>
                                <th class="bok11">
                                    <a href="?sort=var_x&order={% if sort_field == 'var_x' and sort_order == 'asc' %}desc{% else %}asc{% endif %}" class="center">Var X</a>
                                </th>
                                <th class="bok11">
                                    <a href="?sort=fishflag&order={% if sort_field == 'fishflag' and sort_order == 'asc' %}desc{% else %}asc{% endif %}" class="center">Fishflag</a>
                                </th>
                                <th class="bok11">
                                    <a href="?sort=collecting_per_week&order={% if sort_field == 'collecting_per_week' and sort_order == 'asc' %}desc{% else %}asc{% endif %}" class="center">Coll/wk</a>
                                </th>
                                <th class="bok11">
                                    <a href="?sort=always_collecting&order={% if sort_field == 'always_collecting' and sort_order == 'asc' %}desc{% else %}asc{% endif %}" class="center">Alw.Coll</a>
                                </th>
                            </tr>
                        </thead>
                        
                        
                        <tbody>
                            {% for specie in species %}
                            <tr>
                                <td class="center" data-id="{{ specie.id }}">
                                    <a href="{% url 'species_edit' specie.id %}" class="btn btn-primary">{{ specie.id }}</a>
                                </td>
                                <td class="center">
                                    <img src="{% if specie.active %}../../../../../static/img/checkbox.png{% else %}../../../../../static/img/checkbox_empty.png{% endif %}" alt="Active Checkbox" style="width: 15px; height: 15px;">
                                </td>
                                <td>{{ specie.nl_name }}</td>
                                <td>{{ specie.name }}</td>
                                <td>{{ specie.latin_name }}</td>
                                <td>{{ specie.WoRMS }}</td>
                                <td class="center">{{ specie.pauly_trophic_level }}</td>
                                <td class="center">{{ specie.var_x }}</td>
                                <td class="center">
                                    <img src="{% if specie.fishflag %}../../../../../static/img/checkbox.png{% else %}../../../../../static/img/checkbox_empty.png{% endif %}" alt="Fishflag Checkbox" style="width: 15px; height: 15px;">
                                </td>
                                <td class="center">{{ specie.collecting_per_week }}</td>
                                <td class="center">
                                    <img src="{% if specie.always_collecting %}../../../../../static/img/checkbox.png{% else %}../../../../../static/img/checkbox_empty.png{% endif %}" alt="Always Collecting Checkbox" style="width: 15px; height: 15px;">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <form method="POST" action="{% url 'species_list' %}" class="form2">
        {% csrf_token %}
        <table border="1" cellspacing="0" cellpadding="2" class="text" style="display: none;" id="species-form">
            <tbody>
                <tr><th colspan="2">New record</th></tr>
                <tr><th>Variable</th><th>Value</th></tr>
                <div class="background2">
                    <tr>
                        <td>Species ID:</td>
                        <td>{{ form.species_id }} {{ form.species_id.errors }}</td>
                    </tr>
                    <tr>
                        <td>Active:</td>
                        <td>{{ form.active }} {{ form.active.errors }}</td>
                    </tr>
                    <tr>
                        <td>NL Name:</td>
                        <td>{{ form.nl_name }} {{ form.nl_name.errors }}</td>
                    </tr>
                    <tr>
                        <td>EN Name:</td>
                        <td>{{ form.name }} {{ form.name.errors }}</td>
                    </tr>
                    <tr>
                        <td>Latin Name:</td>
                        <td>{{ form.latin_name }} {{ form.latin_name.errors }}</td>
                    </tr>
                    <tr>
                        <td>WoRMS:</td>
                        <td>{{ form.WoRMS }} {{ form.WoRMS.errors }}</td>
                    </tr>
                    <tr>
                        <td>Pauly Trophic Level:</td>
                        <td>{{ form.pauly_trophic_level }} {{ form.pauly_trophic_level.errors }}</td>
                    </tr>
                    <tr>
                        <td>Var X:</td>
                        <td>{{ form.var_x }} {{ form.var_x.errors }}</td>
                    </tr>
                    <tr>
                        <td>Fishflag:</td>
                        <td>{{ form.fishflag }} {{ form.fishflag.errors }}</td>
                    </tr>
                    <tr>
                        <td>Collecting/Week:</td>
                        <td>{{ form.collecting_per_week }} {{ form.collecting_per_week.errors }}</td>
                    </tr>
                    <tr>
                        <td>Always Collecting:</td>
                        <td>{{ form.always_collecting }} {{ form.always_collecting.errors }}</td>
                    </tr>
                </div>
                <tr>
                    <td colspan="2" align="center">
                        <button name="btn1" value="store" type="submit">Store</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

{% endblock %}
