{% extends 'maintenance/index.html' %}

{% block content %}
<div class="maintenance species_list">
    <table cellspacing="0" cellpadding="5" class="text">
        <tbody>
            <tr>
                <th>Species&nbsp;&nbsp;<a href="#" id="new-species-btn" class="but11">&nbsp;new&nbsp;</a></th>
            </tr>
            <tr>
                <td class="background">
                    <table border="1" cellspacing="0" cellpadding="2" class="text" id="table">
                        <thead>
                            <tr>
                                <th class="bok11">
                                    <a href="#" id="sort-id-btn" class="center" data-sort="id">SpeciesID</a>
                                </th>
                                <th class="bok11">
                                    <a href="#" id="sort-active-btn" class="center" data-sort="active">Active</a>
                                </th>
                                <th class="bok11">
                                    <a href="#" id="sort-nl_name-btn" class="center" data-sort="nl_name">NL name</a>
                                </th>
                                <th class="bok11">
                                    <a href="#" id="sort-en_name-btn" class="center" data-sort="name">EN name</a>
                                </th>
                                <th class="bok11">
                                    <a href="#" id="sort-latin_name-btn" class="center" data-sort="latin_name">LATIN
                                        name</a>
                                </th>
                                <th class="bok11">
                                    <a href="#" id="sort-worms-btn" class="center" data-sort="WoRMS">WoRMS</a>
                                </th>
                                <th class="bok11">
                                    <a href="#" id="sort-paulytrophiclevel-btn" class="center"
                                        data-sort="pauly_trophic_level">PaulyTrophicLevel</a>
                                </th>
                                <th class="bok11">
                                    <a href="#" id="sort-varx-btn" class="center" data-sort="var_x">Var X</a>
                                </th>
                                <th class="bok11">
                                    <a href="#" id="sort-fish-btn" class="center" data-sort="fishflag">Fishflag</a>
                                </th>
                                <th class="bok11">
                                    <a href="#" id="sort-coll/wk-btn" class="center"
                                        data-sort="collecting_per_week">Coll/wk</a>
                                </th>
                                <th class="bok11">
                                    <a href="#" id="sort-alw.coll-btn" class="center"
                                        data-sort="always_collecting">Alw.Coll</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for specie in species %}
                            <tr>
                                <td class="center" data-id="{{ specie.id }}">
                                    <a href="#" class="btn btn-primary species-edit-btn"
                                        data-specie-id="{{ specie.id }}">{{ specie.id }}</a>
                                </td>
                                <td class="center">
                                    <img src="{% if specie.active %}../../../../../static/img/checkbox.png{% else %}../../../../../static/img/checkbox_empty.png{% endif %}"
                                        alt="Active Checkbox" style="width: 15px; height: 15px;">
                                </td>
                                <td>{{ specie.nl_name }}</td>
                                <td>{{ specie.name }}</td>
                                <td>{{ specie.latin_name }}</td>
                                <td>{{ specie.WoRMS }}</td>
                                <td class="center">{{ specie.pauly_trophic_level }}</td>
                                <td class="center">{{ specie.var_x }}</td>
                                <td class="center">
                                    <img src="{% if specie.fishflag %}../../../../../static/img/checkbox.png{% else %}../../../../../static/img/checkbox_empty.png{% endif %}"
                                        alt="Fishflag Checkbox" style="width: 15px; height: 15px;">
                                </td>
                                <td class="center">{{ specie.collecting_per_week }}</td>
                                <td class="center">
                                    <img src="{% if specie.always_collecting %}../../../../../static/img/checkbox.png{% else %}../../../../../static/img/checkbox_empty.png{% endif %}"
                                        alt="Always Collecting Checkbox" style="width: 15px; height: 15px;">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>

    <div id="species-edit-form" style="display:none;">
        <form method="POST" action="" id="edit-form" class="form2">
            {% csrf_token %}
            <table border="1" cellspacing="0" cellpadding="2" class="text">
                <tbody>
                    <tr>
                        <th colspan="2">Edit Species</th>
                    </tr>
                    <tr>
                        <th>Variable</th>
                        <th>Value</th>
                    </tr>
                    <div class="background2">
                        <tr>
                            <td>Species ID:</td>
                            <td><input type="hidden" name="species_id" value=""></td>
                        </tr>

                        <tr>
                            <td>Active:</td>
                            <td><input type="checkbox" name="active"></td>
                        </tr>
                        <tr>
                            <td>NL Name:</td>
                            <td><input type="text" name="nl_name" value=""></td>
                        </tr>
                        <tr>
                            <td>EN Name:</td>
                            <td><input type="number" name="name" value=""></td>
                        </tr>
                        <tr>
                            <td>Latin Name:</td>
                            <td><input type="number" name="latin_name" value=""></td>
                        </tr>
                        <tr>
                            <td>WoRMS:</td>
                            <td><input type="number" name="WoRMS" value=""></td>
                        </tr>
                        <tr>
                            <td>Pauly Trophic Level:</td>
                            <td><input type="number" name="pauly_trophic_level" value=""></td>
                        </tr>
                        <tr>
                            <td>Var X:</td>
                            <td><input type="number" name="var_x" value=""></td>
                        </tr>
                        <tr>
                            <td>Fishflag:</td>
                            <td><input type="number" name="fishflag" value=""></td>
                        </tr>
                        <tr>
                            <td>Collecting/Week:</td>
                            <td><input type="number" name="collecting_per_week" value=""></td>
                        </tr>
                        <tr>
                            <td>Always Collecting:</td>
                            <td><input type="number" name="always_collecting" value=""></td>
                        </tr>
                    </div>
                    <tr>
                        <td colspan="2" align="center">
                            <button name="btn1" value="update" type="submit">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script>
   document.querySelectorAll('.species-edit-btn').forEach(button => {
    button.addEventListener('click', function(e) {
        e.preventDefault();
        
        const speciesId = this.dataset.specieId;  // Pak de juiste species ID
        const form = document.getElementById('species-edit-form');
        form.style.display = 'block';
        
        // Haal de data van de geselecteerde soort op
        fetch(`/species/${speciesId}/`)
        .then(response => response.json())
        .then(data => {
            // Vul de form met de opgehaalde data
            form.querySelector('input[name="species_id"]').value = data.id;
            form.querySelector('input[name="active"]').checked = data.active;
            form.querySelector('input[name="nl_name"]').value = data.nl_name;
            form.querySelector('input[name="name"]').value = data.name;
            form.querySelector('input[name="latin_name"]').value = data.latin_name;
            form.querySelector('input[name="WoRMS"]').value = data.WoRMS;
            form.querySelector('input[name="pauly_trophic_level"]').value = data.pauly_trophic_level;
            form.querySelector('textarea[name="var_x"]').value = data.var_x;
            form.querySelector('input[name="fishflag"]').checked = data.fishflag;
            form.querySelector('input[name="collecting_per_week"]').value = data.collecting_per_week;
            form.querySelector('input[name="always_collecting"]').checked = data.always_collecting;
            
            // Zet de actie van het formulier naar de juiste URL voor bewerken
            form.action = `/species/edit/${speciesId}/`;
        });
    });
});



    // Functionaliteit voor de "New" knop
    document.getElementById('new-species-btn').addEventListener('click', function (e) {
        e.preventDefault();
        const form = document.getElementById('species-edit-form');
        form.style.display = 'block';
        form.action = "{% url 'species_list' %}";  // Zet de actie voor nieuw item
        form.querySelectorAll('input, textarea').forEach(input => input.value = '');  // Leeg alle velden voor een nieuwe invoer
    });

    // Voeg CSRF-token toe aan het formulier
    document.querySelector('.form2').onsubmit = function () {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        const csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = 'csrfmiddlewaretoken';
        csrfInput.value = csrfToken;
        this.appendChild(csrfInput);
    };

    // Sorteerfunctionaliteit
    document.querySelectorAll('a[data-sort]').forEach(button => {
        button.addEventListener('click', function (e) {
            e.preventDefault();
            const sortField = this.getAttribute('data-sort');
            const currentOrder = new URLSearchParams(window.location.search).get('order') || 'asc';
            const newOrder = currentOrder === 'asc' ? 'desc' : 'asc';

            // Redirect naar de gesorteerde URL
            window.location.href = `?sort=${sortField}&order=${newOrder}`;
        });
    });
</script>



{% endblock %}