{% extends 'maintenance/index.html' %}

{% block content %}


<table border="0" cellspacing="0" cellpadding="5" bgcolor="#f0f0f0" class="text">
    <tbody>
        <tr>
            <th bgcolor="#f0f0f0">Species&nbsp;&nbsp;<a href="procfish.php?cmd=7010&amp;fnc=7011&amp;spid=0"
                    class="but11">&nbsp;new&nbsp;</a></th>
        </tr>
        <tr>
            <td align="center">
                <table border="1" cellspacing="0" cellpadding="2" class="text"
                    style="border:1px solid; border-collapse:collapse;" bgcolor="#fcfcfc">
                    <tbody>
                        <tr>
                            <th bgcolor="#d0d0d0" class="bok11"><a href="procfish.php?cmd=7010&amp;sx=3&amp;xx=1"
                                    class="bok11">SpeciesID</a></th>
                            <th bgcolor="#d0d0d0" class="bok11"><a href="procfish.php?cmd=7010&amp;sx=9&amp;xx=1"
                                    class="bok11">Active</a></th>
                            <th bgcolor="#d0d0d0" class="bgn11"><a href="procfish.php?cmd=7010&amp;sx=1&amp;xx=1"
                                    class="bgn11">NL name</a></th>
                            <th bgcolor="#d0d0d0" class="bok11"><a href="procfish.php?cmd=7010&amp;sx=6&amp;xx=1"
                                    class="bok11">EN name</a></th>
                            <th bgcolor="#d0d0d0" class="bok11"><a href="procfish.php?cmd=7010&amp;sx=2&amp;xx=1"
                                    class="bok11">LATIN name</a></th>
                            <th bgcolor="#d0d0d0" class="bok11"><a href="procfish.php?cmd=7010&amp;sx=4&amp;xx=1"
                                    class="bok11">WoRMS</a></th>
                            <th bgcolor="#d0d0d0" class="bok11"><a href="procfish.php?cmd=7010&amp;sx=10&amp;xx=1"
                                    class="bok11">PaulyTrophicLevel</a></th>
                            <th bgcolor="#d0d0d0" class="bok11"><a href="procfish.php?cmd=7010&amp;sx=5&amp;xx=1"
                                    class="bok11">varx</a></th>
                            <th bgcolor="#d0d0d0" class="bok11"><a href="procfish.php?cmd=7010&amp;sx=7&amp;xx=1"
                                    class="bok11">fish</a></th>
                            <th bgcolor="#d0d0d0" class="bok11"><a href="procfish.php?cmd=7010&amp;sx=13&amp;xx=1"
                                    class="bok11">coll/wk</a></th>
                            <th bgcolor="#d0d0d0" class="bok11"><a href="procfish.php?cmd=7010&amp;sx=12&amp;xx=1"
                                    class="bok11">alw.coll</a></th>
                        </tr>
                        <tr>
                            <td align="center"><a href="procfish.php?cmd=7010&amp;fnc=7011&amp;spid=142"
                                    class="but11">&nbsp;142&nbsp;</a></td>
                            <td align="center"><img src="../images/chkbox13w1.png"></td>
                            <td align="left">10-Doornige stekelbaars</td>
                            <td align="left">Nine-spined stickleback</td>
                            <td align="left">Pungitius pungitius</td>
                            <td align="center">126507</td>
                            <td align="center">3,51</td>
                            <td align="center"></td>
                            <td align="center"><img src="../images/chkbox13w1.png"></td>
                            <td align="center">3</td>
                            <td align="center"><img src="../images/chkbox13w0.png"></td>
                        </tr>
                       

{% endblock %}