{% extends 'home.html' %}

{% block title %}Administrator{{ block.super }}{% endblock %}


{% block submenu %}
<ul>
    <li><a href="/adminMenu/adminMenuUser">test</a></li>
</ul>
{% endblock %}

{% block content %}
<table class="spacing" class="text">
        <tr>
            <td align="CENTER" bgcolor="#F0F0F0">
                <table>
                    <tbody>
                        <tr>
                            <th>Users</th>
                        </tr>
                    </tbody>
                </table>
                <table border="1" cellpadding="2" class="text" style="border:1px solid; border-collapse:collapse;"
                    bgcolor="#fcfcfc">
                    <tbody>
                        <tr class="bars" bgcolor="#e0e0e0">
                            <th>username</th>
                            <th>Active</th>
                            <th>real name</th>
                            <th>access to<br>collectlocation</th>
                            <th>access from<br>year</th>
                            <th>access until<br>year</th>
                        </tr>
                        {% for person in persons %}
                        <tr class="bars">
                            <td><a class="user" href="/adminMenu/adminMenuUser">{{ person.username }}</a></td>
                            <td><input checked type="checkbox"></td>
                            <td>{{ person.realName }}</td>
                            <td>{{ person.collectlocation }}</td>
                            <td>{{ person.yearFrom }}</td>
                            <td>{{ person.yearUntil }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
</table>
{% endblock %}