{% extends 'home.html' %}

{% block title %}Administrator{{ block.super }}{% endblock %}

{% block submenu %}
<ul>
    <li><a href="{% url 'users_view' %}">Users</a></li>
    <li><a href="{% url 'new_user' %}">New User</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="content1 adminMenu">
    <h1>Change Password</h1>
    <form method="post" class="form-container">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_old_password">Current Password:</label>
        {{ form.old_password }}
        </div>
        
        <div class="form-group">
            <label for="id_new_password1">New Password:</label>
        {{ form.new_password1 }}
        </div>

        <div class="form-group">
            <label for="id_new_password2">Confirm New Password:</label>
        {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn btn-secondary change_password_button">change password</button><br>  
        <a class="btn btn-primary" href="{% url 'userinfo_view' person.pk %}">back to the overview</a>
    </form>
</div>
{% endblock %}
