<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}MEE FISH v3.0{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'nioz/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'nioz/css/LoginSysteem.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div class="navbar-header">
        <strong>MEE - FISH - v3.0</strong>
      </div>

      <div class="navbar-menu">
        <ul>
          {% if user.is_authenticated %}
          <li><a href="/adminMenu">Administrator</a></li>
          <li><a href="#">Fyke</a></li>
          <li><a href="#">Maintenance</a></li>
          <li><a href="#">Options</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="{% url 'logout' %}">Uitloggen</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Inloggen</a></li>
          {% endif %}
        </ul>

        {% block submenu %}
        {% comment %} Secondary navbar here {% endcomment %}
        {% endblock %}
      </div>
    </nav>

    <!-- Content -->
    <div class="content">
      {% block content %}
      <!-- Content will go here -->
      {% endblock %}
    </div>
  </body>
</html>
