{% extends 'index.html' %} {% block content %}
<form method="POST" class="datacollection-form">
  {% csrf_token %}
  <span>Datacollection record (edit)</span>
  <table>
    <tbody>
      <tr>
        <td>Date:</td>
        <td><input type="text" value="{{ form.date.value|date:"Y-m-d" }}" disabled></td>
      </tr>
      <tr>
        <td>Time:</td>
        <td>{{ form.time }} (HH:MM[:SS])</td>
      </tr>
      <tr>
        <td>Observer:</td>
        <td>{{ form.observer }}</td>
      </tr>
      <tr>
        <td>Fyke:</td>
        <td>
            {{ form.fyke }}
        </td>
      </tr>
      <tr>
        <td>Fishing duration:</td>
        <td>{{ form.duration }}</td>
      </tr>
      <tr>
        <td>Tidal phase:</td>
        <td>{{ form.tidal_phase }}</td>
      </tr>
      <tr>
        <td>Salinity (µS/cm):</td>
        <td>{{ form.salinity }}</td>
      </tr>
      <tr>
        <td>Temperature (˚C):</td>
        <td>{{ form.temperature }}</td>
      </tr>
      <tr>
        <td>Wind direction:</td>
        <td>{{ form.wind_direction }}</td>
      </tr>
      <tr>
        <td>Wind speed (Bft):</td>
        <td>{{ form.wind_speed }}</td>
      </tr>
      <tr>
        <td>Secchi depth (cm):</td>
        <td>{{ form.secchi_depth }}</td>
      </tr>
      <tr>
        <td>FU-scale:</td>
        <td>{{ form.fu_scale }}</td>
      </tr>
      <tr>
        <td>Remarks:</td>
        <td>
          <textarea name="remarks" rows="4" cols="50">
{{ form.remarks.value }}</textarea
          >
        </td>
      </tr>
      <tr>
        <td>Collect species/week:</td>
        <td>{{ form.collect }}</td>
      </tr>
    </tbody>
  </table>

  <input type="hidden" name="date" value="{{ form.date.value|date:"Y-m-d" }}">
  {% comment %} <input type="hidden" name="year" value="{{ form.year.value }}"> {% endcomment %}
  {% comment %} <input type="hidden" name="week" value="{{ form.week.value }}"> {% endcomment %}
  <input type="hidden" name="fishingday" value="{{ form.fishingday.value }}">
  <input type="hidden" name="version" value="3.0">

  <div style="margin-top: 5px">
    <button class="btn btn-secondary" type="submit">Store</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'datacollection' %}'">Cancel</button>
  </div>
</form>
{% endblock %}