{% extends 'index.html' %} {% block content %}
<form method="POST" class="fyke-form">
  {% csrf_token %}
  <span>Datacollection record (new)</span>
  <table>
    <tbody>
      <tr>
        <td>Date:</td>
        <td>
          <input type="text" name="date" placeholder="dd/mm/yyyy" id="id_date" value="{{ current_date }}" required>
        </td>
      </tr>
      <tr>
        <td>Time:</td>
        <td>
          <input type="time" name="time" id="id_time" value="{{ current_time }}" required>
        </td>
      </tr>
      <tr>
        <td>Observer:</td>
        <td><input type="text" name="observer" maxlength="255" id="id_observer" value="{{ user.username }}"></td>
      </tr>
      <tr>
        <td>Fyke:</td>
        <td>{{ form.fyke }}</td>
      </tr>
      <tr>
        <td>Fishing duration:</td>
        <td><input type="number" name="duration" id="id_duration" value="{{ form.duration.value }}"></td>
      </tr>
      <tr>
        <td>Tidal phase:</td>
        <td>{{ form.tidal_phase }}</td>
      </tr>
      <tr>
        <td>Salinity (µS/cm):</td>
        <td>{{ form.salinity }}</td>
      </tr>
      <tr>
        <td>Temperature (˚C):</td>
        <td>{{ form.temperature }}</td>
      </tr>
      <tr>
        <td>Wind direction:</td>
        <td>{{ form.wind_direction }}</td>
      </tr>
      <tr>
        <td>Wind speed (Bft):</td>
        <td>{{ form.wind_speed }}</td>
      </tr>
      <tr>
        <td>Secchi depth (cm):</td>
        <td>{{ form.secchi_depth }}</td>
      </tr>
      <tr>
        <td>FU-scale:</td>
        <td>{{ form.fu_scale }}</td>
      </tr>
      <tr>
        <td>Remarks:</td>
        <td>
          <textarea name="remarks" id="id_remarks" rows="4" cols="50">
          {{ form.remarks.value }}</textarea>
        </td>
      </tr>
      <tr>
        <td>Collect species/week:</td>
        <td>{{ form.collect }}</td>
      </tr>
    </tbody>
  </table>

  <input type="hidden" name="fishingday" value="{{ form.fishingday.value|default:fishingday }}">
  <input type="hidden" name="version" value="3.0">

  <div style="margin-top: 5px">
    <button class="btn btn-secondary" type="submit">Submit</button>
    <a href="{% url 'datacollection' %}" class="btn btn-primary">Cancel</a>
  </div>
</form>

<script>
  var today = new Date();
  var formattedDate = today.toISOString().split('T')[0]; // Get the date part in YYYY-MM-DD format
  
  document.addEventListener('DOMContentLoaded', function () {
    flatpickr("#id_date", {
      maxDate: formattedDate,
      dateFormat: "d-m-Y", // Format as dd/mm/yyyy
      defaultDate: new Date(), // Set default to today's date
    });
  });

  //
  
  var fishingDurationInput = document.getElementById('id_duration');
  var lastFishingDuration = fishingDurationInput.value; // initial value
  var remarksInput = document.getElementById('id_remarks');

  fishingDurationInput.addEventListener('input', function () {
    var newFishingDuration = fishingDurationInput.value;
    if (newFishingDuration != lastFishingDuration) {
        var userName = "{{ user.username }}";  // Get the logged-in username
        remarksInput.value = userName + " changed fishing duration from '" + lastFishingDuration + "'' to '" + newFishingDuration + "'";
    } else {
        remarksInput.value = "";  // Clear remarks if no change
    }
  });
</script>
{% endblock %}
